<!doctype html>
<html lang="en">
<head>
	<% include commons/head %>
	<style type="text/css">
		.chat-container {
		    border: 2px solid #dedede;
		    background-color: #f1f1f1;
		    border-radius: 5px;
		    padding: 10px;
		    margin: 10px 0;
		}

		.darker {
		    border-color: #ccc;
		    background-color: #ddd;
		}

		.chat-container::after {
		    content: "";
		    clear: both;
		    display: table;
		}

		.chat-container img {
		    float: left;
		    max-width: 60px;
		    width: 100%;
		    margin-right: 20px;
		    border-radius: 50%;
		}

		.chat-container img.right {
		    float: right;
		    margin-left: 20px;
		    margin-right:0;
		}

		.time-right {
		    float: right;
		    color: #aaa;
		}

		.time-left {
		    float: left;
		    color: #999;
		}

		.data-messages {
			height: 600px;
			overflow-y: scroll;
		}
	</style>
</head>
<body>
	<% include commons/header %>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h1>Account Seetings</h1>
				<form>
					<div class="form-group">
					    <label for="txtUsername">Username</label>
					    <input type="text" class="form-control col-sm-12" id="txtUsername" placeholder="Enter username">
					</div>
				  	<div class="form-group">
					    <label for="fileAvatar">Choose a new avatar</label>
					    <input type="file" class="form-control-file" id="fileAvatar">
				  	</div>
				</form>
			</div>
			<div class="col-6">
				<h1>Chat Messages</h1>
				<div class="col-12 data-messages">
				</div>
				<div class="col-12 mt-3">
					<form class="form-inline form-chat" action="/" method="POST">
						<div class="form-group col-sm-10 pl-0">
						    <label for="txtMessage" class="sr-only">Message</label>
						    <input type="text" class="form-control col-sm-12 txt-message" id="txtMessage" placeholder="Enter message">
						</div>
						<input type="hidden" name="iduser" value="" />
						<button type="submit" class="btn-send btn btn-dark col-sm-2">Send</button>
					</form>
				</div>
			</div>
			</div>
		</div>
	</div>

	<% include commons/footer %>
	<script language="javascript" src="/socket.io/socket.io.js"></script>
	<script src="/js/app.client.chat.js"></script>
</body>
</html>