<!doctype html>
<html lang="en">
<head>
	<% include commons/head %>
</head>
<body>
	<% include commons/header %>
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-6">
				<form>
					<table class="table m-5">
						<thead>
							<tr>
								<th>No.</th>
								<th>Username</th>
								<th>Password</th>
								<th>Is Active</th>
							</tr>
						</thead>
						<tbody>
						<% users.forEach(function(user) {%>
							<tr>
								<td scope="row">1</td>
								<td><%= user.username%></td>
								<td><%= user.password%></td>
								<td><%= user.isActive%></td>
							</tr>
						<% }); %>
						</tbody>
					</table>

				</form>
			</div>
		</div>
	</div>
	<% include commons/footer %>
</body>
</html>