<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF­8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<dir class="page-header">
			<h1>Registration form</h1>
		</dir>
		{{{content}}}
	</div>
</body>
</html>
